In [5]:
#Q1:Create one variable containing following type of data:
#i
str = "abcd"
print (str)
print (type(str))

abcd
<class 'str'>

In [6]:
#1(ii)
lst = [2,-2,3.5,"xyz",False]
print (lst)
print (type(lst))

[2, -2, 3.5, 'xyz', False]
<class 'list'>

In [7]:
#1(iii)
num = float(input("Enter a no:"))
print (num)
print (type(num))

Enter a no: 2.4

2.4
<class 'float'>

In [8]:
#1(iv)
tup = (1,2,'pqrs'," ")
print (tup)
print (type(tup))

(1, 2, 'pqrs', ' ')
<class 'tuple'>

In [9]:
#Q2. Given are some following variables containing data:
#(i)
var1 = ''
#It is a string
print (type(var1))

<class 'str'>

In [10]:
#2(ii)
var2 = '[DS,ML,Python]'
#It is a string due to quote 
print (type (var2))

<class 'str'>

In [11]:
#2(iii)
var3=['DS','ML','Python']
#It is a list
print (type(var3))

<class 'list'>

In [20]:
#2(iv)
var4= 1.
#It is a float
print (type(var4))

<class 'float'>

In [21]:
#Q3: Explain the use of the following operators using an example:
#(i)
#'/'-is for division
10/5

2.0

In [22]:
#3(ii)
#'%' - is for remainder
15%3

0

In [23]:
#3(iii)
#'//'- is for floor division, gives quotient
10//2

5

In [24]:
#3(iv)
#'**'- is for power function
2**3

8

In [36]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
L1 = [1,-3,2.5,"",'mnop',True,(1,'def'),bin(10),3+4j,{False},{'a':1,'b':2},range(5)]
for i in L1:
    print (type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'tuple'>
<class 'str'>
<class 'complex'>
<class 'set'>
<class 'dict'>
<class 'range'>
<class 'str'>

In [4]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A = int (input('Ernte a no A:'))
B = int (input('Ernte a no B:'))
count = 0
while A%B == 0:
    count += 1
    A /= B
if count > 0:
    print (A, 'is divisible by',B,'through',count, 'times')
else:
    print (A, 'is not divisible by', B)

Ernte a no A: 20
Ernte a no B: 4

5.0 is divisible by 4 through 1 times

In [12]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
L = list(range(26))
for i in L:
    if i % 3 == 0:
        print ([i], 'is divisible by 3')
    else:
        print ([i], 'is not divisible by 3')

[0] is divisible by 3
[1] is not divisible by 3
[2] is not divisible by 3
[3] is divisible by 3
[4] is not divisible by 3
[5] is not divisible by 3
[6] is divisible by 3
[7] is not divisible by 3
[8] is not divisible by 3
[9] is divisible by 3
[10] is not divisible by 3
[11] is not divisible by 3
[12] is divisible by 3
[13] is not divisible by 3
[14] is not divisible by 3
[15] is divisible by 3
[16] is not divisible by 3
[17] is not divisible by 3
[18] is divisible by 3
[19] is not divisible by 3
[20] is not divisible by 3
[21] is divisible by 3
[22] is not divisible by 3
[23] is not divisible by 3
[24] is divisible by 3
[25] is not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
Mutable data types are those whose values can be changed within that particular data type , e.g- List, Dict.
Immutable data types are those whose values can not be changed within it, e.g - str, tuples, range.

In [25]:
L = list(range(5))
print (L)
L[4]= (5)
print (L)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 5]

In [31]:
S = 'abcde'
print (S)
S[4] = 'f'
print (S)  #It will show error

abcde

TypeError: 'str' object does not support item assignment